In [104]:
#!/usr/bin/env python3
## import libraries
from keras.models import load_model
from keras.preprocessing import sequence
import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split

In [105]:
# set GPU memory
gpu_options = tf.GPUOptions(allow_growth=True)
sess = tf.Session(config=tf.ConfigProto(gpu_options=gpu_options))

In [106]:
dataset = pd.read_csv("./raw datasets/right6.csv", header=None)
dataset = dataset.fillna(0)
dataset = np.array(dataset)
dataset.shape

(817, 129)

In [107]:
#dataset = np.hstack((label, dataset))
dataset

array([[ 65.5507, 317.701 ,  43.3957, ...,   0.    ,   0.    ,   0.    ],
       [ 64.2672, 295.227 ,  46.1347, ...,   0.    ,   0.    ,   0.    ],
       [ 64.0709, 307.068 ,  43.8895, ...,   0.    ,   0.    ,   0.    ],
       ...,
       [ 54.7435, 290.132 ,  43.401 , ...,   0.    ,   0.    ,   0.    ],
       [ 52.6838, 295.745 ,  41.5277, ...,   0.    ,   0.    ,   0.    ],
       [ 52.7588, 294.178 ,  42.2862, ...,   0.    ,   0.    ,   0.    ]])

In [108]:
rand_arr = np.arange(dataset.shape[0])
np.random.shuffle(rand_arr)
data_500 = dataset[rand_arr[0:750]]
print(data_500.shape)

(750, 129)

In [109]:
x_train = data_500[:500,:]
x_test = data_500[500:,:]
print(x_train.shape)
print(x_test.shape)

(500, 129)
(250, 129)

In [110]:
df = pd.DataFrame(data=x_train, index=None, columns=None)
df.to_csv('./datasets/right6_train.csv')
df

,0,1,2,3,4,5,6,7,8,9,...,119,120,121,122,123,124,125,126,127,128
0,78.8478,312.893,42.6321,75.7833,302.667,42.8548,73.0892,289.995,43.2454,70.5212,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,108.1710,292.688,41.7596,104.9100,276.188,42.8470,102.2800,266.712,42.6582,99.7733,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,104.3830,279.027,41.4006,101.0040,265.746,41.8495,98.1894,255.413,41.6584,95.3095,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,68.9735,286.868,43.5086,66.4901,278.639,43.5477,64.1939,264.257,44.1222,62.2373,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,130.8500,280.377,40.4805,127.1530,270.326,39.9097,123.4930,259.522,38.8343,119.8470,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,65.6714,307.265,43.8453,63.7551,293.953,45.2992,61.8948,282.791,45.4587,60.1536,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
496,104.0160,273.936,42.2191,101.0060,262.111,42.4460,98.2351,248.483,42.8259,95.6328,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
497,82.6628,314.301,43.1935,80.2101,298.351,44.4974,77.4488,287.329,44.8817,75.0470,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
498,56.1522,302.173,41.2829,54.1867,290.353,41.8371,52.6680,276.411,42.2892,51.1724,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
499,102.1360,271.743,41.5980,98.4677,260.059,41.3563,94.7881,245.433,41.2630,91.5041,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [111]:
df = pd.DataFrame(data=x_test, index=None, columns=None)
df.to_csv('./datasets/right6_test.csv')
df

,0,1,2,3,4,5,6,7,8,9,...,119,120,121,122,123,124,125,126,127,128
0,24.4146,326.087,43.9748,23.7609,312.571,44.8315,22.9601,301.273,44.9031,22.4821,...,26.4875,0.0000,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0,0.0
1,80.7610,299.743,44.5469,78.4558,286.029,45.0678,76.2736,273.031,45.0724,74.2117,...,0.0000,0.0000,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0,0.0
2,156.2870,297.287,44.3372,152.6700,288.144,44.4369,148.7820,276.893,44.6598,144.8610,...,23.6894,89.0564,-47.7815,22.7631,0.0,0.0,0.0,0.0,0.0,0.0
3,78.4268,321.670,42.9748,76.9061,308.303,43.3243,75.2100,296.998,43.1910,73.5866,...,0.0000,0.0000,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0,0.0
4,93.0758,292.883,45.1911,90.7763,281.058,45.9557,88.7861,268.508,46.6350,87.0965,...,0.0000,0.0000,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,34.0732,326.130,42.4978,33.4125,309.607,44.0940,32.0197,300.001,44.2110,31.4467,...,0.0000,0.0000,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0,0.0
246,134.4810,287.744,42.8375,130.3140,278.769,42.4973,126.3510,268.656,42.6497,122.5340,...,0.0000,0.0000,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0,0.0
247,68.4949,281.440,43.8446,66.5698,270.925,43.7697,64.7883,257.040,44.3176,63.3100,...,0.0000,0.0000,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0,0.0
248,79.1304,332.130,43.9526,76.9681,313.426,46.0353,74.7490,304.697,45.9695,72.8501,...,0.0000,0.0000,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0,0.0
249,122.0950,305.049,42.9017,117.8050,293.574,43.6064,113.9700,279.888,44.4444,110.1100,...,0.0000,0.0000,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0,0.0