In [84]:
#!/usr/bin/env python3
## import libraries
from keras.models import load_model
from keras.preprocessing import sequence
import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split

In [85]:
# set GPU memory
gpu_options = tf.GPUOptions(allow_growth=True)
sess = tf.Session(config=tf.ConfigProto(gpu_options=gpu_options))

In [86]:
name = 'back6'

In [87]:
dataset_path = './datasets/original data 60hz/' + name + '.csv'
dataset = pd.read_csv(dataset_path, header=None)
dataset = dataset.fillna(0)
dataset = np.array(dataset)
dataset.shape

(883, 117)

In [88]:
#dataset = np.hstack((label, dataset))
dataset

array([[ 74.2215, 299.888 ,  39.5504, ...,   0.    ,   0.    ,   0.    ],
       [ 75.7517, 292.81  ,  40.9239, ...,   0.    ,   0.    ,   0.    ],
       [ 75.5016, 294.193 ,  40.7063, ...,   0.    ,   0.    ,   0.    ],
       ...,
       [ 74.4766, 298.575 ,  39.2353, ...,   0.    ,   0.    ,   0.    ],
       [ 74.4694, 297.143 ,  39.4654, ...,   0.    ,   0.    ,   0.    ],
       [ 74.7418, 298.47  ,  39.772 , ...,   0.    ,   0.    ,   0.    ]])

In [89]:
rand_arr = np.arange(dataset.shape[0])
np.random.shuffle(rand_arr)
data_500 = dataset[rand_arr[0:750]]
print(data_500.shape)

(750, 117)

In [90]:
x_train = data_500[:500,:]
x_test = data_500[500:,:]
print(x_train.shape)
print(x_test.shape)

(500, 117)
(250, 117)

In [91]:
df = pd.DataFrame(data=x_train, index=None, columns=None)
training_path = './datasets/split by random for distributed/prediction/' + name + '_train.csv'
df.to_csv(training_path)
df

,0,1,2,3,4,5,6,7,8,9,...,107,108,109,110,111,112,113,114,115,116
0,74.2252,299.641,40.6360,73.8926,284.659,40.9696,73.8356,273.203,40.3440,73.0427,...,21.4398,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,75.3916,281.487,37.9297,75.5285,267.722,37.3060,75.4321,257.260,35.0372,75.5609,...,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,74.6866,290.565,38.4620,74.6012,277.610,37.5885,74.2793,266.498,36.5471,74.1932,...,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,73.9337,294.193,40.2033,73.6165,280.893,40.0692,73.5617,268.300,39.6909,73.2681,...,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,75.2176,291.783,39.2887,75.1201,278.686,38.9111,75.2635,265.069,38.2671,75.3895,...,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,74.6267,281.408,37.9503,74.5371,267.611,37.3347,74.4500,254.586,36.2671,74.3588,...,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
496,74.8889,280.923,40.5571,74.5542,268.341,40.1673,74.4821,257.661,39.0897,74.3927,...,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
497,75.3740,278.668,39.1635,75.5110,265.021,38.7638,75.6594,254.505,37.7151,75.7798,...,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
498,75.1676,285.205,38.8330,75.0716,272.466,38.2191,74.9800,260.324,37.6431,75.1122,...,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
499,74.9313,287.663,39.7068,74.8339,273.460,39.5455,74.7558,262.526,38.7174,74.6639,...,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [92]:
df = pd.DataFrame(data=x_test, index=None, columns=None)
testing_path = './datasets/split by random for distributed/prediction/' + name + '_test.csv'
df.to_csv(testing_path)
df

,0,1,2,3,4,5,6,7,8,9,...,107,108,109,110,111,112,113,114,115,116
0,75.4139,283.917,38.7906,75.3131,271.152,38.6916,75.6915,257.957,38.0592,75.3593,...,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,74.9418,290.921,36.8511,74.8410,276.670,35.9865,74.7594,265.705,34.4633,74.6726,...,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,75.1315,279.810,39.7303,75.0388,267.255,39.6099,75.1807,254.228,38.9698,75.0887,...,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,74.9109,285.181,38.8393,74.8174,270.923,39.7269,74.7243,257.686,39.0830,74.8631,...,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,74.7077,292.970,39.8756,74.8779,279.790,39.7359,75.0460,268.616,38.8831,75.1976,...,17.5569,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,75.1658,285.375,38.0391,75.3102,271.408,37.4049,75.4451,258.240,36.3136,75.3354,...,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
246,74.7077,292.975,39.8747,74.6086,277.159,39.9254,74.2894,265.999,39.3413,73.9778,...,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
247,75.1691,285.129,39.3553,75.5618,271.313,38.1650,75.6756,257.259,35.2781,75.8063,...,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
248,75.4135,283.994,38.5233,75.5400,268.861,37.8475,75.6888,258.233,36.5554,76.2600,...,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
249,74.6176,278.389,40.2225,74.0608,269.752,38.9439,73.7410,255.341,38.3039,73.6733,...,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0